 
// in production, serve fonts locally or from a "proper" CDN
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
	// Default font
	font-family: "Roboto";
	padding: 20px;
}

h1 {
	text-align: center;
	padding-top: 20px;
	font-size: 20pt;
}

table {
	margin: 10px auto;

	th {
		font-family: "Roboto Slab";
		letter-spacing: 0.5px;
	}

	td {
		border-top: 1px solid #999999;
	}
	td, th {
		padding: 10px 8px;
	}
}

#charts {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	.chart_container {
		padding: 15px;

		h2 {
			font-family: "Roboto Slab";
			font-size: 15pt;
			text-align: center;
		}

		canvas {
			width: 500px;
			height: 300px;
			max-width: 500px;
			max-height: 300px;
		}
	}
}
