@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
/* line 5, ../sass/styles.scss */
body {
  font-family: "Roboto";
  padding: 20px;
}

/* line 11, ../sass/styles.scss */
h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 20pt;
}

/* line 17, ../sass/styles.scss */
table {
  margin: 10px auto;
}
/* line 20, ../sass/styles.scss */
table th {
  font-family: "Roboto Slab";
  letter-spacing: 0.5px;
}
/* line 25, ../sass/styles.scss */
table td {
  border-top: 1px solid #999999;
}
/* line 28, ../sass/styles.scss */
table td, table th {
  padding: 10px 8px;
}

/* line 33, ../sass/styles.scss */
#charts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* line 38, ../sass/styles.scss */
#charts .chart_container {
  padding: 15px;
}
/* line 41, ../sass/styles.scss */
#charts .chart_container h2 {
  font-family: "Roboto Slab";
  font-size: 15pt;
  text-align: center;
}
/* line 47, ../sass/styles.scss */
#charts .chart_container canvas {
  width: 500px;
  height: 300px;
  max-width: 500px;
  max-height: 300px;
}
